version: "3.9"

services:

  backend:
    build: ./backend
    container_name: library_backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

  frontend:
    build: ./frontend
    container_name: library_frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000    
    depends_on:
      - backend
    restart: always

