apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: library
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ramjeet500/library_app-backend:v2
          imagePullPolicy: Always

          ports:
            - containerPort: 8000

          env:
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: library-config
                  key: DB_HOST

            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: library-config
                  key: DB_PORT

            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: library-config
                  key: MYSQL_DATABASE

            - name: DB_USER
              valueFrom:
                configMapKeyRef:
                  name: library-config
                  key: MYSQL_USER

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: library-secret
                  key: MYSQL_PASSWORD

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: library-secret
                  key: JWT_SECRET

            - name: JWT_EXPIRE_MIN
              valueFrom:
                configMapKeyRef:
                  name: library-config
                  key: JWT_EXPIRE_MIN

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"

          readinessProbe:
            httpGet:
              path: /docs
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 5

          livenessProbe:
            httpGet:
              path: /docs
              port: 8000
            initialDelaySeconds: 60
            periodSeconds: 20
            failureThreshold: 5

